body {
  background: #3283a8;
}

header {
    color: #8c2828;
    /* font-size: 44px;
    text-transform: uppercase;

    border: 1px lightblue;
    margin: 15x;
    padding: 4px; */
}

/* p {
  color: gray;
} */
