
  {% extends 'base.html.j2' %}
<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->
{% block content %}
    <h1><span class = "header">Welcome to Gif Search</span></h1>

    <form class="" action="/">
      
      <input type="search" name="search" placeholder="Search...">
      <button type="submit">Search</button>
    </form>


    {% for gif in gifs %}
        {% include 'gif.html.j2' %}
    {% endfor %}
{% endblock %}
<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->
