{% extends 'base.html.j2' %}

{% block content %}
    <div id="loading"></div>
    <h1><span class = "header">Welcome to Gif Search</span></h1>

    <!-- get search term from the user -->
    <form class="" action="/">
      <input type="search" class="searchbar" name="search" placeholder="Search..."/>
      <button type="submit" class="searchbutton">Search</button>
    </form>

    <!-- displays message if no gifs are found -->
    {% if gifs %}
        {% for gif in gifs %}
            {% include 'gif.html.j2' %}
        {% endfor %}
    {% else %}
    <div class="error">
        <h1>There are no gifs to display, please try again with another search term</h1>
    </div>
    {% endif %}
{% endblock %}
